<h2>Profile Page for <%=user.name%></h2>

<a href="/">Home</a>

<h3>Your Cars</h3>
    <%user.cars.forEach(function(car){%>
        <div class="well">
        <%var detail = JSON.parse(car.styleDetails);%>
        <h4><%=car.year%> <%=car.make%> <%=car.model%> <%=car.style%></h4>
        <p><strong>Details:</strong></p>
        <p><%=detail.engine.size%>L <%=detail.engine.configuration%><%=detail.engine.cylinder%> <%if(detail.engine.valve){%><%=detail.engine.totalValves%> <%=detail.engine.valve.timing%> <%=detail.engine.valve.gear%><%}%></p>
        <p>with a <%=detail.transmission.numberOfSpeeds%> speed <%=detail.transmission.transmissionType.toLowerCase()%>, <%=detail.drivenWheels%></p>
        <p>making <%=detail.engine.horsepower%> hp at <%=detail.engine.rpm.horsepower%> RPM and <%=detail.engine.torque%> ft/lbs of torque at <%=detail.engine.rpm.torque%> RPM</p>
        <p>MPG: <%=detail.MPG.city%> city <%=detail.MPG.highway%> highway</p>

        <div class=serviceSelection>
            <button class="btn btn-primary addLog" >Log a maintainence</button>
            <form class="form-group serviceForm" action="/log/<%=car.id%>/new" method="post">

                <div class="option"></div>
                <p>Cost:</p>
                <input class="form-control" type="text" name="cost" placeholder="19.99"></input>
                <p>Mileage:</p>
                <input class="form-control" type="text" name="mileage" placeholder="804450"></input>
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-warning cancel">Cancel</button>

            </form>
        </div>


        </div>
    <%})%>
<div class="edmundsLogo">
    <a href="http://www.edmunds.com/?id=apis"><img src='img/100-square-white.png'></a>
</div>
<!--<input type="text" name="other" >
<p>Service Type:</p>
<select class="form-select serviceName" name="services">
    <option>Select a service</option>
</select>

<option value="fuel">Fuel Fill</option>
<option value="oil">Oil Change</option>
<option value="wipers">Replaced Wiper Blades</option>
<option value="airFilter">Replaced Air Filter</option>
<option value="tire">New Tires</option>
<option value="battery">Replaced Battery</option>
<option value="brakes">Brake Service</option>
<option value="sparkPlugs">Replaced Spark Plugs</option>
<option value="inCabinAirFilter">Replaced In Cabin Air Filter</option>
<option value="other">Other</option> -->
