<h2>Profile Page for <%=user.name%></h2>

<a href="/">Home</a>

<h3>Your Cars</h3>
<div class="well">
    <%user.cars.forEach(function(car){%>
        <%var detail = JSON.parse(car.styleDetails);%>
        <h4><%=car.year%> <%=car.make%> <%=car.model%> <%=car.style%></h4>
        <p><strong>Details:</strong></p>
        <p><%=detail.engine.size%>L <%=detail.engine.configuration%><%=detail.engine.cylinder%> <%if(detail.engine.valve){%><%=detail.engine.totalValves%> <%=detail.engine.valve.timing%> <%=detail.engine.valve.gear%><%}%></p>
        <p>with a <%=detail.transmission.numberOfSpeeds%> speed <%=detail.transmission.transmissionType.toLowerCase()%>, <%=detail.drivenWheels%></p>
        <p>making <%=detail.engine.horsepower%> hp at <%=detail.engine.rpm.horsepower%> RPM and <%=detail.engine.torque%> ft/lbs of torque at <%=detail.engine.rpm.torque%> RPM</p>
        <p>MPG: <%=detail.MPG.city%> city <%=detail.MPG.highway%> highway</p>
    <%})%>
</div>
